
modules = ["python-3.12:v25-20240103-638702"]
run = "python main.py dev"

[packager]
language = "python3"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py dev"]

[unitTest]
language = "python3"

[[ports]]
localPort = 35941
externalPort = 80

[[ports]]
localPort = 44329
externalPort = 3000

